/** @format */

.registration-form {
  /* background-color: aquamarine; */
  color: black;
  background-color: var(--dark-color);
  padding: 10px 30px;
  border-radius: 10px;
  margin-right: 5rem;
  width: 40vw;
}
.registration-form label {
  color: var(--bg-color);
  text-transform: capitalize;
  display: block;
  margin-top: 8px;
}

.registration-form input,
textarea {
  font-size: 17px;
  padding: 5px;
  border-radius: 6px;
  background-color: var(--btn-color);
  width: 100%;
  color: white;
  outline: none;
  border: none;
}
.register-heading {
  font-size: 2rem;
  color: var(--bg-color);
  text-align: center;
}
